#id{
    color: rgb(255, 72, 0);
    background-color: rgb(104, 175, 128);
    width: 1001px;
    height: 40px;
    margin-top: 21px;
    font-size: x-large;    
}

#id::placeholder{
    color: blueviolet;

}

#id1{
    display: flex;
    flex-direction: column;
}

input[type=text]{
    padding: 12px 5px;
    border-radius: 25px;
    }

#id3{
    border: 2px solid rgb(105, 102, 102);
    
}